<%- include('../header'); -%>
<div class="container">
    <div class="new-password-container">
        <div class="title-contaner">
            <h3 class="title-content">New Password</h3>
        </div>
        <div class="form-new-password">
            <form method="POST" id="main-form" action="/account/new-password/<%=userId%>/<%=resetPasswordToken%>">
                <div class="password-error-message">
                    <% if(errorMessage){ %>
                        <p class="message" style="color:red"><%= errorMessage %></p>
                    <% }else{ %>
                        <label class="label-for-input" for="new-password-input">Type your new password</label>
                    <% } %>
                </div>
                <input 
                    class="field"
                    type="password" 
                    id="new-password-input"
                    name="newPassword" 
                    placeholder="New password"
                    required>
                <input 
                    class="field"
                    type="password" 
                    id="confirm-password-input"
                    name="confirmPassword" 
                    placeholder="Confirm password"
                    required>
                <input type="submit" class="button" id="submit-btn" value="Save"></button>
            </form> 
        </div>
    </div>
</div>
<%- include('../footer'); -%>